{
  "openapi": "3.0.3",
  "info": {
    "title": "Wildon Gateway API",
    "version": "v1",
    "description": "Complete HTTP API surface exposed by gateway-service."
  },
  "servers": [
    {
      "url": "https://api.wildon.com.au",
      "description": "Production"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local gateway"
    }
  ],
  "tags": [
    {
      "name": "Docs"
    },
    {
      "name": "Health"
    },
    {
      "name": "Auth"
    },
    {
      "name": "OAuth2/OIDC"
    },
    {
      "name": "Discovery"
    },
    {
      "name": "Users"
    },
    {
      "name": "Dashboard"
    },
    {
      "name": "Devices"
    },
    {
      "name": "Care Circle"
    },
    {
      "name": "Device Registry"
    },
    {
      "name": "Media"
    },
    {
      "name": "Exports"
    },
    {
      "name": "Proxy"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Care Notes"
    },
    {
      "name": "Care Team"
    },
    {
      "name": "Safe Zones"
    },
    {
      "name": "Location"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Access & Sharing"
    },
    {
      "name": "Billing"
    },
    {
      "name": "Live Chat",
      "description": "Real-time queue-based support chat. WebSocket at `/ws/chat`; REST session management at `/v1/chat/*`. Routed directly to chat-service via ingress (bypasses gateway middleware)."
    }
  ],
  "paths": {
    "/docs": {
      "get": {
        "tags": [
          "Docs"
        ],
        "summary": "Swagger UI",
        "responses": {
          "200": {
            "description": "HTML",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/docs/": {
      "get": {
        "tags": [
          "Docs"
        ],
        "summary": "Swagger UI (trailing slash)",
        "responses": {
          "200": {
            "description": "HTML",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/gateway-v1.json": {
      "get": {
        "tags": [
          "Docs"
        ],
        "summary": "OpenAPI document",
        "responses": {
          "200": {
            "description": "OpenAPI JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Gateway health",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthPayload"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/ping": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Public ping",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPingPayload"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/openid-configuration": {
      "get": {
        "tags": [
          "OAuth2/OIDC"
        ],
        "summary": "OIDC discovery",
        "responses": {
          "200": {
            "description": "Discovery document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OidcDiscoveryApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/scopes": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Scope manifest",
        "description": "Machine-readable list of supported OAuth scopes and usage intent.",
        "responses": {
          "200": {
            "description": "Scope manifest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScopeManifestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/jwks.json": {
      "get": {
        "tags": [
          "OAuth2/OIDC"
        ],
        "summary": "JWKS",
        "responses": {
          "200": {
            "description": "JWKS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JwksApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/authorize": {
      "get": {
        "tags": [
          "OAuth2/OIDC"
        ],
        "summary": "Authorize (code + PKCE)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "response_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "code"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "S256"
            }
          },
          {
            "$ref": "#/components/parameters/XDeviceIdHeader"
          },
          {
            "$ref": "#/components/parameters/XDeviceFingerprintHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization code issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthAuthorizeApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "tags": [
          "OAuth2/OIDC"
        ],
        "summary": "Token exchange",
        "security": [
          {
            "basicAuth": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthTokenRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/revoke": {
      "post": {
        "tags": [
          "OAuth2/OIDC"
        ],
        "summary": "Revoke token",
        "security": [
          {
            "basicAuth": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthRevokeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoke response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthRevokeApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/introspect": {
      "post": {
        "tags": [
          "OAuth2/OIDC"
        ],
        "summary": "Introspect token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthIntrospectBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Introspection response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthIntrospectApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/userinfo": {
      "get": {
        "tags": [
          "OAuth2/OIDC"
        ],
        "summary": "UserInfo",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile claims",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthUserInfoApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register",
        "security": [
          {
            "clientIdHeader": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAppVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAcceptedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/verify-email/request": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request email verification OTP",
        "security": [
          {
            "clientIdHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAcceptedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/verify-email/confirm": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Confirm email verification OTP",
        "security": [
          {
            "clientIdHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailConfirmBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyEmailConfirmResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login with password (returns MFA challenge when required)",
        "security": [
          {
            "clientIdHeader": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAppVersionHeader"
          },
          {
            "$ref": "#/components/parameters/XDeviceIdHeader"
          },
          {
            "$ref": "#/components/parameters/XDeviceFingerprintHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session tokens or MFA challenge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordLoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid login credentials or account access issue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "emailNotFound": {
                    "summary": "Unknown email address",
                    "value": {
                      "error": {
                        "code": "ERROR_CODE_UNAUTHORIZED",
                        "message": "We couldn't find an account with that email address.",
                        "request_id": "req_example_email_not_found",
                        "meta": {
                          "email": "We couldn't find an account with that email address."
                        }
                      }
                    }
                  },
                  "passwordIncorrect": {
                    "summary": "Wrong password",
                    "value": {
                      "error": {
                        "code": "ERROR_CODE_UNAUTHORIZED",
                        "message": "The password you entered is incorrect.",
                        "request_id": "req_example_password_incorrect",
                        "meta": {
                          "password": "The password you entered is incorrect."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/login/mfa/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify MFA login challenge",
        "security": [
          {
            "clientIdHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyLoginMfaBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/social/google": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Google social login",
        "security": [
          {
            "clientIdHeader": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAppVersionHeader"
          },
          {
            "$ref": "#/components/parameters/XDeviceIdHeader"
          },
          {
            "$ref": "#/components/parameters/XDeviceFingerprintHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialLoginBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/social/apple": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Apple social login",
        "security": [
          {
            "clientIdHeader": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAppVersionHeader"
          },
          {
            "$ref": "#/components/parameters/XDeviceIdHeader"
          },
          {
            "$ref": "#/components/parameters/XDeviceFingerprintHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialLoginBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh tokens",
        "security": [
          {
            "clientIdHeader": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAppVersionHeader"
          },
          {
            "$ref": "#/components/parameters/XDeviceIdHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout session by refresh token",
        "security": [
          {
            "clientIdHeader": [],
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAppVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logout result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sessions": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "List active and historical sessions for authenticated user",
        "security": [
          {
            "clientIdHeader": [],
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAppVersionHeader"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 50, max 200).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Offset cursor from previous page. Example: `/v1/auth/sessions?limit=20&cursor=20`.",
            "schema": {
              "type": "string",
              "example": "20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponseBody"
                },
                "examples": {
                  "first_page": {
                    "summary": "First page",
                    "value": {
                      "sessions": [],
                      "page": {
                        "limit": 20,
                        "next_cursor": "20",
                        "has_more": true
                      }
                    }
                  },
                  "next_page": {
                    "summary": "Next page request uses cursor=20",
                    "value": {
                      "sessions": [],
                      "page": {
                        "limit": 20,
                        "next_cursor": null,
                        "has_more": false
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sessions/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout a specific session by session id",
        "security": [
          {
            "clientIdHeader": [],
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAppVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionLogoutRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logout result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sessions/logout-all": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout all sessions for authenticated user",
        "security": [
          {
            "clientIdHeader": [],
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAppVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutAllRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logout-all result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutAllResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/mfa/status": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get MFA factor status for authenticated user",
        "security": [
          {
            "clientIdHeader": [],
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "MFA status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MfaStatusResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/mfa/authenticator/setup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Begin authenticator setup (returns secret + otpauth URI + QR)",
        "security": [
          {
            "clientIdHeader": [],
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeginAuthenticatorEnrollmentBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticator enrollment payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeginAuthenticatorEnrollmentResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/mfa/authenticator/confirm": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Confirm authenticator setup with OTP code",
        "security": [
          {
            "clientIdHeader": [],
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmAuthenticatorEnrollmentBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticator setup result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmAuthenticatorEnrollmentResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/mfa/authenticator/disable": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Disable authenticator MFA factor",
        "security": [
          {
            "clientIdHeader": [],
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisableMfaFactorBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Disable MFA factor result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisableMfaFactorResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/mfa/backup-codes/regenerate": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Regenerate MFA backup codes",
        "security": [
          {
            "clientIdHeader": [],
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateBackupCodesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Backup codes regenerated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegenerateBackupCodesResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/password/forgot/request": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request password reset OTP",
        "security": [
          {
            "clientIdHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAcceptedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/password/forgot/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify password reset OTP",
        "security": [
          {
            "clientIdHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordVerifyBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verify result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForgotPasswordVerifyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/password/reset": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset password",
        "security": [
          {
            "clientIdHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResetPasswordResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/signup": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create public profile",
        "security": [
          {
            "clientIdHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signup result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/dashboard/summary": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get public dashboard summary",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAppVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get own profile",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update own profile",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XIdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me/settings": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get own settings",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "User settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSettingsResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update own settings",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserSettingsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSettingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me/settings/notifications": {
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update own notification settings",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserNotificationSettingsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSettingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me/settings/profile-photo/upload-ticket": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create profile photo upload ticket",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProfilePhotoUploadTicketBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile photo upload ticket",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProfilePhotoUploadTicketResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me/settings/profile-photo/download-url": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Create profile photo download URL",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "parameters": [
          {
            "name": "object_key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile photo download URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProfilePhotoDownloadUrlResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List devices",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 50, max 200).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Offset cursor from previous page.",
            "schema": {
              "type": "string",
              "example": "50"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DevicesListResponse"
                },
                "examples": {
                  "paginated": {
                    "value": {
                      "devices": [],
                      "page": {
                        "limit": 50,
                        "next_cursor": "50",
                        "has_more": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Create device",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeviceBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/media/upload-ticket": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Create upload ticket",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMediaUploadTicketBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload ticket",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadTicketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/exports": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Create export job",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XIdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExportBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportJobResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/exports/{job_id}": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Get export job",
        "security": [
          {
            "bearerAuth": [],
            "clientIdHeader": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportJobResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxy/auth-health": {
      "get": {
        "tags": [
          "Proxy"
        ],
        "summary": "Proxy auth-service health (diagnostic)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Proxied health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyPayload"
                }
              }
            }
          }
        }
      }
    },
    "/v1/care-circle/members": {
      "post": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Create a care circle member",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Rich care-circle person create payload. Provide either first_name or display_name. Legacy name/phone/relationship fields are still accepted and derived.",
                "anyOf": [
                  {
                    "required": [
                      "first_name"
                    ]
                  },
                  {
                    "required": [
                      "display_name"
                    ]
                  }
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Eleanor Voss"
                  },
                  "first_name": {
                    "type": "string",
                    "example": "Eleanor"
                  },
                  "middle_name": {
                    "type": "string",
                    "example": "Rose"
                  },
                  "last_name": {
                    "type": "string",
                    "example": "Voss"
                  },
                  "preferred_name": {
                    "type": "string",
                    "example": "Ellie"
                  },
                  "display_name": {
                    "type": "string",
                    "example": "Eleanor Voss"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+1234567890"
                  },
                  "phones": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MemberFieldEntry"
                    }
                  },
                  "email": {
                    "type": "string",
                    "example": "mom@example.com"
                  },
                  "address": {
                    "type": "string"
                  },
                  "birth_date": {
                    "type": "string",
                    "format": "date",
                    "example": "1955-03-15"
                  },
                  "relationship": {
                    "type": "string",
                    "example": "Mother"
                  },
                  "relationships": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MemberFieldEntry"
                    }
                  },
                  "avatar_kind": {
                    "type": "string",
                    "enum": [
                      "system",
                      "custom",
                      "none"
                    ],
                    "example": "system"
                  },
                  "avatar_name": {
                    "type": "string",
                    "example": "avatar_elder_female_02"
                  },
                  "idempotency_key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "List care circle members (owned + shared)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Members list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/care-circle/members/{id}": {
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Get member detail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Update member",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Rich care-circle person update payload. Arrays replace the stored phones/relationships when supplied.",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "middle_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "preferred_name": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "phones": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MemberFieldEntry"
                    }
                  },
                  "email": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "birth_date": {
                    "type": "string"
                  },
                  "relationship": {
                    "type": "string"
                  },
                  "relationships": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MemberFieldEntry"
                    }
                  },
                  "avatar_kind": {
                    "type": "string",
                    "enum": [
                      "system",
                      "custom",
                      "none"
                    ]
                  },
                  "avatar_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated member",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Soft-delete member",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/vitals": {
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Get latest vitals for member",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vitals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "vitals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VitalReading"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/vitals/history": {
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Get vital history for member",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "HEART_RATE",
                "BLOOD_OXYGEN",
                "BLOOD_PRESSURE",
                "TEMPERATURE",
                "STEPS"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "History",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "readings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VitalReading"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/avatar": {
      "post": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Upload member avatar (get signed URL)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "filename",
                  "content_type",
                  "content_length"
                ],
                "properties": {
                  "filename": {
                    "type": "string"
                  },
                  "content_type": {
                    "type": "string"
                  },
                  "content_length": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload ticket",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadTicket"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/catalog": {
      "get": {
        "tags": [
          "Device Registry"
        ],
        "summary": "List all known device models and capabilities",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Device catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogEntry"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/validate-imei": {
      "post": {
        "tags": [
          "Device Registry"
        ],
        "summary": "Validate IMEI against inventory (pre-check before activation)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imei"
                ],
                "properties": {
                  "imei": {
                    "type": "string",
                    "example": "359349071043325",
                    "minLength": 15,
                    "maxLength": 15
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImeiValidation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/activate/imei": {
      "post": {
        "tags": [
          "Device Registry"
        ],
        "summary": "Activate a device by IMEI (claims from inventory, creates device)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imei"
                ],
                "properties": {
                  "imei": {
                    "type": "string",
                    "example": "359349071043325"
                  },
                  "name": {
                    "type": "string",
                    "example": "Mom's Watch"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activated device",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/mine": {
      "get": {
        "tags": [
          "Device Registry"
        ],
        "summary": "List devices owned by the authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User devices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "devices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeviceInfo"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{id}": {
      "get": {
        "tags": [
          "Device Registry"
        ],
        "summary": "Get device detail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceInfo"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Device Registry"
        ],
        "summary": "Update device (rename)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated device",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceInfo"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Device Registry"
        ],
        "summary": "Deactivate device (soft-delete)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deactivated": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{id}/assign": {
      "post": {
        "tags": [
          "Device Registry"
        ],
        "summary": "Assign device to a care circle member",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "member_id"
                ],
                "properties": {
                  "member_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assigned device",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{id}/telemetry": {
      "get": {
        "tags": [
          "Device Registry"
        ],
        "summary": "Get latest telemetry for device (battery, signal, vitals)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Telemetry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "telemetry": {
                      "$ref": "#/components/schemas/TelemetrySnapshot"
                    },
                    "vitals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VitalReading"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/inventory/import": {
      "post": {
        "tags": [
          "Device Registry"
        ],
        "summary": "Import batch of IMEIs into inventory (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "items",
                  "batch_id"
                ],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "imei": {
                          "type": "string"
                        },
                        "model_code": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "batch_id": {
                    "type": "string",
                    "example": "ORDER_2026_03_JIAI"
                  },
                  "supplier": {
                    "type": "string",
                    "example": "JiAi Medical"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imported": {
                      "type": "integer"
                    },
                    "skipped": {
                      "type": "integer"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/health-basics": {
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Get health basics for member",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Health basics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthBasics"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Update health basics for member",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HealthBasics"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated health basics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthBasics"
                }
              }
            }
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/medications": {
      "post": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Create medication",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Medication"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "medication created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Medication"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "List medications",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "medications list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "medications": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Medication"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/medications/{med_id}": {
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Get medication detail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "med_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "medication detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Medication"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Update medication",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "med_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Medication"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated medication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Medication"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Delete medication",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "med_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/allergies": {
      "post": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Create allergy",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Allergy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "allergy created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Allergy"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "List allergies",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "allergies list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allergies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Allergy"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/allergies/{allergy_id}": {
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Get allergy detail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "allergy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "allergy detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Allergy"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Update allergy",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "allergy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Allergy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated allergy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Allergy"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Delete allergy",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "allergy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/conditions": {
      "post": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Create condition",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Condition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "condition created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "List conditions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "conditions list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conditions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Condition"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/conditions/{cond_id}": {
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Get condition detail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cond_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "condition detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Update condition",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cond_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Condition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated condition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Delete condition",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cond_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/appointments": {
      "post": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Create appointment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Appointment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "appointment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "List appointments",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "appointments list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "appointments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Appointment"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/appointments/{apt_id}": {
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Get appointment detail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "apt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "appointment detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Update appointment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "apt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Appointment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated appointment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Delete appointment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "apt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/care-circle/members/{id}/appointments/{apt_id}/status": {
      "patch": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Update appointment status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "apt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "UPCOMING",
                      "ATTENDED",
                      "MISSED"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated appointment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reminders": {
      "post": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Create reminder",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reminder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reminder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reminder"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "List reminders",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "reminders list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reminders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Reminder"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reminders/{reminder_id}": {
      "get": {
        "tags": [
          "Care Circle"
        ],
        "summary": "Get reminder detail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "reminder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reminder detail",
            "content": {
              "application/json": {
                "schema": {
[...]
